@import "../../../../styles/colors.module.scss";

.sectionTitles {
  font-size: 20px;
  font-weight: bold;
}
.slideSectionBtn {
  &:hover {
    border-color: $lightRed;
    background-color: transparent;
    color: $lightGray;
  }
}
